body{
background-image:url(.//image/fundo\ churras.jfif) ;
background-repeat: no-repeat;
background-size: cover;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: xx-large;
text-align: center;




}

.container{ 
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 200px;
    font-size: large;

}


h1{
    border: solid;
    color: white;
    margin-top: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;


}

input{

    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 15px;
    border: none;
    background-color: #ffffffbb;
    outline:none;

 
}



button{ 
    background-color: #ffffffbb;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: large;
    font-weight: bold ;
    border-radius: 10px;
    border: none;
    color: #7c7b7bbb;



}

button:hover{
    color: black;
    transition: 0.3s;
    font-weight: bold ;

}


